@using Calendar2.ViewModels
@model IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
</style>





<div class="m-content">
    <div class="m-portlet m-portlet--head-solid-bg m-portlet--bordered">


        <div class="m-portlet__body">


            <h1 style="text-align:center"> Haftalık Çalışma Programı </h1>

            <hr />
            <br />

            <br />

            <h3>Şu An İşte Olanlar</h3>
            <br />
            @foreach (var item in Model.currenthere)
            {

                <h5>@item.Name @item.Surname</h5>

            }
            <hr />


            <div id="calendar" class="fc fc-unthemed fc-ltr "></div>


            <br />
            <br />

            <div class="col-lg-12 row">
                <div class="col-lg-4 "><div class="p-3 mb-2 alert alert-primary">@Model.kisilist[0].Name @Model.kisilist[0].Surname (@Model.kisisure[0])</div></div>
                <div class="col-lg-4 "><div class="p-3 mb-2 text-white alert alert-danger">@Model.kisilist[1].Name @Model.kisilist[1].Surname (@Model.kisisure[1])</div></div>
                <div class="col-lg-4 "><div class="p-3 mb-2 t text-white alert" style="background-color:aqua">@Model.kisilist[2].Name @Model.kisilist[2].Surname (@Model.kisisure[2])</div></div>
            </div>

            <div class="col-lg-12 row">
                <div class="col-lg-4 "><div class=" p-3 mb-2 text-white alert alert-warning p-3">@Model.kisilist[3].Name @Model.kisilist[3].Surname (@Model.kisisure[3])</div></div>
                <div class="col-lg-4 "><div class="p-3 mb-2 alert alert-success">@Model.kisilist[4].Name @Model.kisilist[4].Surname (@Model.kisisure[4])</div></div>
                <div class="col-lg-4 "><div class="mb-2 text-white alert bg-dark">@Model.kisilist[5].Name @Model.kisilist[5].Surname (@Model.kisisure[5])</div></div>

            </div>

        </div>

    </div>
</div>




<link href="~/Scripts/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet" />

<link href="~/Scripts/fullcalendar-3.9.0/StyleSheet1.css" rel="stylesheet" />
@section ajaxBeginForm
{
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" defer></script>
}

@section script{
    <script src="~/Scripts/fullcalendar-3.9.0/lib/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/Scripts/fullcalendar-3.9.0/locale/tr.js"></script>



    <script>
        $(document).ready(function () {
              var events = [];
        $.ajax({
            type: "GET",
            url: "/Home/GetEvents",
            success: function (data) {
                console.log(data[0].id);
                $.each(data, function (i, v) {
                    console.log(data);

                    events.push({
                        start: v.start,
                        end: v.end,
                        color: v.ThemeColor,
                        className: v.className,
                        id: v.id,
                        owner_id: v.owner_id,
                        title: v.title,
                        location: v.location,
                        description: v.description
                    });
                });

                $('#calendar').fullCalendar({
                    header: { center: 'month,agendaWeek,agendaDay' }, // buttons for switching between views

                    defaultDate: '@DateTime.Now.ToString("yyyy-MM-dd")',
                    defaultView:"agendaWeek",
                    navLinks: true, // can click day/week names to navigate views
                    editable: false,
                    eventLimit: true, // allow "more" link when too many events
                    minTime: "09:00:00",
                    maxTime:"20:00:00",
                    events: events,
                   nowIndicator:true,
                    contentHeight: 'auto',
                    eventClick: function (calEvent, jsEvent, view) {

                        if (calEvent.owner_id == @Model.mevcutkullanici.Id) {

                            window.location.assign("/Home/EditSchedule/" + calEvent.id);
                        }


                    },
                    eventMouseover: function (calEvent, jsEvent, view) {
                        $(this).css('border-color', 'green');
                        var tooltip = '<div class="tooltipevent alert alert-info" style="width:100px;height:100px;position:absolute;z-index:10001;"><p>' + calEvent.description + '</p></hr><p>' + calEvent.location + '</p></div>';
                        var $tooltip = $(tooltip).appendTo('body');

                        $(this).mouseover(function (e) {
                            $(this).css('z-index', 10000);
                            $tooltip.fadeIn('500');
                            $tooltip.fadeTo('10', 1.9);
                        }).mousemove(function (e) {
                            $tooltip.css('top', e.pageY + 10);
                            $tooltip.css('left', e.pageX + 20);
                        });
                    },
                    eventMouseout: function (calEvent, jsEvent, view) {
                        $(this).css('border-color', 'white');
                        $(this).css('z-index', 8);
                        $('.tooltipevent').remove();
                    },
                 

                });

            }
            });
        });



    </script>
}
